@font-face {
    font-family: Fontspring;
    src: url('../fonts//Fontspring-Regular.otf');
  }

    header#main_header {
        height: 72px;
        background-color: #FFFFFF;
        border-bottom: 1px solid #DDDDDD;
    }

    header#main_header div.header_content {
        margin: 0px auto 0px auto;
        padding: 0px 30px 0px 30px;
        height: 72px;
        width: 100%;
        max-width: 980px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;    
    }

    header#main_header div.header_content h1.app_title {
        font-family: Fontspring;
        font-weight: 400;
        color: #000000;
    }