form#new_moment {
    margin: 30px auto 30px auto;
    padding: 50px 50px 50px 50px;
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}

form#new_moment input {
    margin-bottom: 20px;
}

form#new_moment input[type=text] {
    padding: 0px 20px 0px 20px;
    height: 38px;
    font-size: 15px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
}

form#new_moment button {
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #000000;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}
form#new_moment button img {
    filter:invert(1);
}